@using MBA.Modulo2.App.ViewModels
@model List<ProductViewModel>

@{
    ViewData["Title"] = "Home Page";
}
<div class="container mt-4">
    <h2 class="mb-4">Product List</h2>
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-2 mb-2">
                <div class="card">
                    <img src="~/images/@Url.Content(product.Image)" class="card-img-top" alt="@product.Name" width="150px">

                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">
    @( (product.Description?.Length ?? 0) > 10 
        ? product.Description.Substring(0, 10) + "..." 
        : product.Description ?? "" )
</p>

                        <p class="card-text"><b>Category:</b> @product.Category.Name</p>
                        <h6 class="text-primary">$@product.Price.ToString("F2")</h6>
                        @* <a href="#" class="btn btn-success">Buy Now</a> *@
                    </div>
                </div>
            </div>
        }
    </div>
</div>