@using System.Security.Claims;
<AuthorizeView>
    <Authorized>
        <span class="me-2">@context.User.Identity.Name</span>
        <a href="LogOut" class="btn btn-outline-danger btn-sm">Sair</a>
    </Authorized>
    <NotAuthorized>
        <a href="Login" class="btn btn-primary btn-sm">Entrar</a>
    </NotAuthorized>
</AuthorizeView>