@inherits LayoutComponentBase
@using MBA.Modulo2.Spa.Shared

<div class="auth-layout">
    <div class="auth-theme-toggle">
        <ThemeToggle />
    </div>

    @Body
</div>

<div id="blazor-error-ui">
    Ocorreu um erro inesperado
    <a href="" class="reload">Recarregar</a>
    <a class="dismiss">X</a>
</div>