<footer class="footer">
    <div>
        <p>© 2025 - MBA Modulo 2 - Modulo SPA</p>
    </div>
    <div>
        <a href="#">Política de privacidade</a>
        <a href="#">Termos de serviço</a>
        <a href="#">Sobre Nós</a>
    </div>
</footer>
