<footer>
    <div class="row">
        <span> &copy; @DateTime.Now.Year - MBA Modulo 2 - Modulo SPA</span>
    </div>
    <div class="row">
        <div class="footer-links">
            <NavLink class="footer-link" href="/privacidade">Politica de privacidade</NavLink>
            <NavLink class="footer-link" href="/termos">Termos de serviço</NavLink>
            <NavLink class="footer-link" href="/sobre">Sobre Nós</NavLink>
        </div>
    </div>
</footer>