<div class="deznav">
    <div class="deznav-scroll">
        <div class="sidebar-header">
            <div class="sidebar-brand">
                <h5 class="mb-0 fw-bold">Boa Compra</h5>
            </div>
            <button title="Navigation menu" class="navbar-toggler d-lg-none" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <ul class="metismenu @NavMenuCssClass" id="menu">
            <li class="nav-label first">Menu Principal</li>
            
            <li class="nav-item">
                <NavLink class="nav-link ai-icon" href="" Match="NavLinkMatch.All">
                    <i class="fas fa-home"></i>
                    <span class="nav-text">Home</span>
                </NavLink>
            </li>
            
            <li class="nav-item">
                <NavLink class="nav-link ai-icon" href="produto">
                    <i class="fas fa-box"></i>
                    <span class="nav-text">Produtos</span>
                </NavLink>
            </li>

            <AuthorizeView>
                <Authorized>
                    <li class="nav-label">Minha Conta</li>
                    
                    <li class="nav-item">
                        <NavLink class="nav-link ai-icon" href="favoritos">
                            <i class="fas fa-heart"></i>
                            <span class="nav-text">Favoritos</span>
                        </NavLink>
                    </li>
                </Authorized>
            </AuthorizeView>
        </ul>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
