@page "/"

<PageTitle>Home</PageTitle>

<div class="container py-5">
    <div class="text-center mb-5">
        <img src="img/logo.png" style="width:25%" />
        <h1 class="display-4 text-primary fw-bold">Bem-vindo ao Boa Compra</h1>
        <p class="lead">A melhor plataforma para comprar e vender Computadores, Games, Tvs e muito mais.</p>
        <a class="btn btn-primary btn-lg mt-3" href="/Produto">Ver Produtos</a>
    </div>

    <style>
        .card-img-top {
            height: 200px;
            object-fit: cover;
        }
    </style>

    <div class="row text-center">
        <div class="col-md-4 mb-4">
            <div class="card shadow rounded-4 h-100">
                <img src="https://img.freepik.com/fotos-premium/computador-pessoal-pc-desktop-moderno-com-tela-led-ultra-hd-curvada-isolada-em-branco_613961-293.jpg" class="card-img-top rounded-top-4" alt="Computadores">
                <div class="card-body">
                    <h5 class="card-title text-primary">Computadores</h5>
                    <p class="card-text">Encontre Computadores novos top de linha.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card shadow rounded-4 h-100">
                <img src="https://decidircomprar.com.br/wp-content/uploads/2024/12/Melhor-Video-Game-Comprar-em-2025-1.webp" class="card-img-top rounded-top-4" alt="Games">
                <div class="card-body">
                    <h5 class="card-title text-primary">Games</h5>
                    <p class="card-text">Games dos retros aos Modernos.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card shadow rounded-4 h-100">
                <img src="https://www.lg.com/content/dam/channel/wcms/br/images/tv/32lr600bpsa_awzq_essp_br_c/gallery/1-1600-32LR600B.jpg/_jcr_content/renditions/thum-1600x1062.jpeg" class="card-img-top rounded-top-4" alt="Peças">
                <div class="card-body">
                    <h5 class="card-title text-primary">Tvs</h5>
                    <p class="card-text">As tvs smart com melhores preços.</p>
                </div>
            </div>
        </div>
    </div>
</div>