@page "/cliente"
@using MBA.Modulo2.Spa.ExternalApi
@using MBA.Modulo2.Spa.ViewModels
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject ClienteHttpClient ClienteApi
@inject AuthHttpClient AuthApi
@inject NavigationManager Navigation

<PageTitle>Cliente</PageTitle>

<div class="card mt-0 mb-4">
    <div class="card-usuario-header">
        <h4 class="mb-0 fw-bold fs-5" ">
            DADOS DO USUÁRIO
        </h4>
    </div>

    <div class="card-body">
        <div class="row g-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">
                        <i class="fas fa-id-card me-2 text-muted"></i>Nome
                    </label>
                    <InputText @bind-Value="cliente.Nome" class="form-control" disabled />
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">
                        <i class="fas fa-calendar-alt me-2 text-muted"></i>Data do Cadastro
                    </label>
                    <InputText @bind-Value="_dataCadastro" class="form-control" disabled />
                </div>
            </div>
        </div>

        <div class="mt-4">
            <button class="btn btn-warning btn-sm me-2"
                    @onclick="@(() => Navigation.NavigateTo($"/cliente/editar/{cliente.Id}"))">
                <i class="fas fa-edit me-1"></i>Editar
            </button>

            <button class="btn btn-primary btn-sm"
                    @onclick="@(() => Navigation.NavigateTo(""))">
                <i class="fas fa-arrow-left me-1"></i>Voltar
            </button>
        </div>
    </div>
</div>

@code {
    private ClienteViewModel cliente = new ClienteViewModel();
    private string _dataCadastro = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var clienteId = await AuthApi.PegarIdCliente();
        cliente = await ClienteApi.ObterPorIdAsync(clienteId.Value);

        _dataCadastro = cliente.CriadoEm.ToLocalTime().ToString("dd/MM/yyyy");
    }
}
