<AuthorizeView>
    <Authorized>
        <a href="LogOut" class="btn btn-outline-danger btn-sm header-btn">
            <i class="fas fa-sign-out-alt"></i>
            <span class="d-none d-lg-inline ms-1">Sair</span>
        </a>
    </Authorized>
</AuthorizeView>