@using Microsoft.AspNetCore.Identity;
@using MBA.Modulo2.Data.Domain;
@using MBA.Modulo2.App.Extensions
@inject SignInManager<ApplicationUser> signInManager;
<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Developer Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content="Developer Store" />
    <meta name="author" content="ColorlibHQ" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/overlayscrollbars@2.10.1/styles/overlayscrollbars.min.css"
          integrity="sha256-tZHrRjVqNSRyWg2wbppGnT833E/Ys0DHWGwT04GiqQg="
          crossorigin="anonymous" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
          integrity="sha256-9kPW/n5nn53j4WMRYAxe9c1rCY96Oogo/MKSVdKzPmI="
          crossorigin="anonymous" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/dist/css/adminlte.css" />
    @RenderSection("Styles", required: false)
</head>
<body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
    <div class="app-wrapper">
        <nav class="app-header navbar navbar-expand bg-body">
            <div class="container-fluid">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" data-lte-toggle="sidebar" href="#" role="button">
                            <i class="bi bi-list"></i>
                        </a>
                    </li>
                    <li class="nav-item d-none d-md-block"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    @if (signInManager.IsSignedIn(User))
                    {
                        <li class="nav-item d-none d-md-block"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Vitrine">Vitrine de Produtos</a></li>
                    }
                    <li class="nav-item d-none d-md-block"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </nav>
        <aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
            <div class="sidebar-brand">
                <a class="brand-link" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/dist/assets/img/bag.png"
                         alt="MBA.Modulo2"
                         class="brand-image opacity-75 shadow" />
                    <span class="brand-text fw-light">Developer Store</span>
                </a>
            </div>
            <div class="sidebar-wrapper">
                <nav class="mt-2">
                    <ul class="nav sidebar-menu flex-column"
                        data-lte-toggle="treeview"
                        role="menu"
                        data-accordion="false">

                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon bi bi-pencil-square"></i>
                                    <p>
                                        Registros
                                        <i class="nav-arrow bi bi-chevron-right"></i>
                                    </p>
                                </a>
                                @if (User.VendedoresPermissao("VI"))
                                {
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="" asp-controller="Vendedor" asp-action="Index">
                                                <i class="nav-icon bi bi-circle"></i>
                                                Vendedor
                                            </a>
                                        </li>
                                    </ul>
                                }
                                @if (User.CategoriasPermissao("VI"))
                                {
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="" asp-controller="Categoria" asp-action="Index">
                                                <i class="nav-icon bi bi-circle"></i>
                                                Categoria
                                            </a>
                                        </li>
                                    </ul>
                                }
                                @if (User.ProdutosPermissao("VI"))
                                {
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="" asp-controller="Produto" asp-action="Index">
                                                <i class="nav-icon bi bi-circle"></i>
                                                Produto
                                            </a>
                                        </li>
                                    </ul>
                                }
                            </li>

                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon bi bi-shield-exclamation"></i>
                                        <p>
                                            Moderação
                                            <i class="nav-arrow bi bi-chevron-right"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="" asp-controller="Denuncia" asp-action="Index">
                                                <i class="nav-icon bi bi-flag"></i>
                                                Denúncias Pendentes
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="" asp-controller="Denuncia" asp-action="Historico">
                                                <i class="nav-icon bi bi-clock-history"></i>
                                                Histórico
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            }
                        }
                    </ul>
                </nav>
            </div>
        </aside>
        <main class="app-main">
            <div class="app-content">
                @RenderBody()
            </div>
            <div class="app-content-bottom-area">
            </div>
        </main>
        <footer class="app-footer">
            <p>© 2025 – MBA Modulo 2 - Modulo SPA</p>

            <div>
                <a href="#">Política de privacidade</a>
                <a href="#">Termos de serviço</a>
                <a href="#">Sobre Nós</a>
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/overlayscrollbars@2.10.1/browser/overlayscrollbars.browser.es6.min.js"
            integrity="sha256-dghWARbRe2eLlIJ56wNB+b760ywulqK3DzZYEpsg2fQ="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
            integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
            crossorigin="anonymous"></script>
    <script src="~/dist/js/adminlte.js"></script>
    <script>
        const SELECTOR_SIDEBAR_WRAPPER = '.sidebar-wrapper';
        const Default = {
          scrollbarTheme: 'os-theme-light',
          scrollbarAutoHide: 'leave',
          scrollbarClickScroll: true,
        };
        document.addEventListener('DOMContentLoaded', function () {
          const sidebarWrapper = document.querySelector(SELECTOR_SIDEBAR_WRAPPER);
          if (sidebarWrapper && typeof OverlayScrollbarsGlobal?.OverlayScrollbars !== 'undefined') {
            OverlayScrollbarsGlobal.OverlayScrollbars(sidebarWrapper, {
              scrollbars: {
                theme: Default.scrollbarTheme,
                autoHide: Default.scrollbarAutoHide,
                clickScroll: Default.scrollbarClickScroll,
              },
            });
          }
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>